@media only screen and (max-width: 800px) {
  .content-container { width: 400px; }
  div.content-container .button { cursor: pointer; }
  .content-container::deep span.nested { color: blue; }
  .content-container::v-deep .nested2 { color: teal; }
  .button, .button::deep .n2 { border-radius: 3px; }
}

.content-container { width: 800px; }
div.content-container .button { cursor: crosshair; }
.content-container::deep span.nested { color: pink; }
.content-container::v-deep .nested2 { color: yellow; }
.button, .button::deep .n2 { border-radius: 4px; }

.content-container .sub1 .sub2 { width: 100%; }
.content-container .sub1::deep .sub2 { width: 100%; }
.content-container::deep .sub1 .sub2 { width: 100%; }
